<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Ajouter une division')"></head>
<body onload="DateDemandeToday();AddDeleteEditMessage();DateDebutToday();">
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-primary" th:replace="fragments/header :: navbar"></nav>
<!--/.Navbar -->
<div class="d-flex justify-content-center">
<img src="/images/armoiries1.png" class="col-2" id="image" alt="User Icon"/>
</div>
<div class="container col-6">
	<form action="" method="POST" th:object="${division}">
		<label for="NomDiv">Nom division: </label>
		<input required class="form-control" th:field="*{nom_division}" id="NomDiv" name="NomDiv">
		<div class="container col-4">
			<input name="submit" type="submit" class="btn btn-brown">
		</div>
		
	</form>
</div>
<div th:replace="fragments/footer :: footer-with-privateJs"></div>
</body>
</html>